<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-5 desc">
      <h5>Average Directional Index Analysis</h5>
      <hr>
      <!-- <ui-switch (change)="onChange($event)"></ui-switch> -->
	<div class="slidecontainer">
      <input (change)="onChange(true)" [(ngModel)]="windowSize" type="range" min="1" max="200" value="50" class="slider" id="myRange">
      <h6>Current Window Size: {{windowSize}}</h6>
  </div>
  <div *ngIf="enable&&loaded">
        <angular2csv [data]="data" filename="Average Directional Index Analysis.csv" [options]="options"></angular2csv>
  </div>
  <br>
  <ul>
   <li>
     ADX above 0.25 and DI+ above DI-: That's an uptrend.
   </li> 
   <li>
     ADX above 0.25 and DI- above DI+: That's a downtrend.
   </li> 
   <li>
     ADX below 0.25 is a weak trend or ranging period, often associated with the DI- and DI+ rapidly crisscrossing each other.
   </li> 
  </ul>
    </div>
    <div class="col-md-9 col-xs-7 chart">
      <ngx-spinner
        bdColor = "rgba(255,255,255,0.8)"
        size = "medium"
        color = "#1a1818"
        type = "triangle-skew-spin"
      >
        <p style="font-size: 15px; color: black"><br><br>Generating graph, may take a while</p>
      </ngx-spinner>
      <div *ngIf="enable&&loaded">
        <app-line-chart-d [chartData]="processedChartData"></app-line-chart-d>
      </div>
      <div *ngIf="!enable">
        <img src="/assets/images/noChart.png" class="img-fluid rounded mx-auto d-block" >
      </div>
    </div>
  </div>
</div>