/*.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #20c997;
  stroke-width: 1px;
}*/
.ct-chart{
  max-height: 300px;
}
.ct-chart-c{
	max-height: 300px;
}
.ct-chart-c.ct-perfect-fourth .ct-chart-line .ct-series-a .ct-line{
	stroke: blue;
  stroke-width: 1px;
}
#legend-c .ct-legend.ct-legend-line .ct-series-0{
  color: blue;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}