<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-5 desc">
      <h5>Accumulation/Distribution Line Analysis</h5>
      <hr>
      <!-- <ui-switch (change)="onChange($event)"></ui-switch> -->
	<div class="slidecontainer">
      <input (change)="onChange(true)" [(ngModel)]="windowSize" type="range" min="1" max="200" value="50" class="slider" id="myRange">
  </div>
  <h6>Current Window Size: {{windowSize}}</h6>
  <br>
  <p>If the indicator line is trending up, it shows buying interest, as the stock is closing above the halfway point of the range. This helps confirm an uptrend. On the other hand, if A/D is falling, that means the price is finishing in the lower portion of its daily range, and thus volume is considered negative. This helps confirm a downtrend.</p>
  <div *ngIf="enable&&loaded">
        <angular2csv [data]="data" filename="Accumulation/Distribution Line Analysis.csv" [options]="options"></angular2csv>
  </div>
    </div>
    <div class="col-md-9 col-xs-7 chart">
      <ngx-spinner
        bdColor = "rgba(255,255,255,0.8)"
        size = "medium"
        color = "#1a1818"
        type = "triangle-skew-spin"
      >
        <p style="font-size: 15px; color: black"><br><br>Generating graph, may take a while</p>
      </ngx-spinner>
      <div *ngIf="enable&&loaded">
        <app-line-chart-c [chartData]="processedChartData"></app-line-chart-c>
      </div>
      <div *ngIf="!enable">
        <img src="/assets/images/noChart.png" class="img-fluid rounded mx-auto d-block" >
      </div>
    </div>
  </div>
</div>